<!DOCTYPE html SYSTEM "">
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF=8">
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
        <title>Validar CPF</title>
        <style></style>
    </head>
    <body>
        
        <section class="sessao-varificarcpf">
            <div class="title-verificarcpf">
              <h2>Verificar a Validação do CPF Brasileiro</h2>
            </div>
            <div class="container-verificarcpf">

              <form action="/result" method="get">
      
                <p for="digit-cpf" class="label label-nome">Digite o CPF</p>
                <input type="text" name="cpf" id="cpf" maxlength="11" class="field"  placeholder="Insira o CPF"/>
                <div>
                <button class="btn-verificar">Verificar</button>
                </div>
                
            </div>
          </section>
    </body>
</html>